.App {
    background-color: #f2f4f4;
    text-align: center;
    height: 100vh;
}
nav {
    border: 1px solid rgb(0, 0, 0, 0.175);
}
.btn-nav-link {
    display: grid;
}
.icon-nav {
    margin-left: auto;
    margin-right: auto;
}
.search {
    background-color: #edf3f8;
    border: 1px solid #edf3f8;
    color: #000;
}

.profile-img {
    border-radius: 50%;
    transform: scale(1.8);
    width: 50px;
    margin-left: 50px;
}
.profile-banner {
    max-height: 90px;
}
.divider {
    border: 1px solid #edf3f8;
}
.side-links {
    display: grid;
}
.flex {
    display: flex;
}
.num-color {
    color: #0a66c2;
    font-weight: 500;
}
.side-text {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.9);
    font-weight: 500;
}
.profile-img-comments {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.orange {
    color: #fd6a35;
}
.blue {
    color: #0a66c2;
}
.input-comments {
    border-radius: 22px;
    border: 1px solid rgb(0, 0, 0, 0.175);
    min-width: 70%;
    height: 45px;
}
.add-profiles {
    display: inline-flex;
}
.btn-follow {
    background-color: #fff;
    border-radius: 19px;
    border: 1px solid rgb(0, 0, 0, 0.9);
    color: rgb(0, 0, 0, 0.9);
}
.text-banner {
    text-align: left;
}
.ocupation {
    font-weight: 600;
    margin-bottom: 0;
}
.other-text {
    color: rgb(0, 0, 0, 0.6);
    font-weight: 300;
    margin-bottom: 0;
}